*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


html{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    scroll-behavior: smooth;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

section{
    height: 100vh;
}

a{
    text-decoration: none;
}